
.navi
{
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#fffffff5;
   // border-bottom: 1px solid #000000;
}

#nav-burger {
    display: none;
}

//What a sick contstruct
@include media('<=large') { 
    input[type="checkbox"][id="nav-burger"]:checked ~*~ .navi-refs {
        max-height: 999px;
        background: #ccccccfa
    }
}

.navi-refs
{
    display: flex;
    flex-direction: row;
    //align-items: center;
    width: fit-content;
    transition: 0.7s;
    height: fit-content;
    background-color: transparent;
}

.navi-item-burger{
    display: none;
    margin-right: 0.5em;
    cursor: pointer;
}

@include media("<=large"){

    .navi {
        position: absolute;    
        height: fit-content;
        background: #ffffff;
        flex-direction: column!important;
    }
    .navi-refs
    {
        overflow: hidden;
        flex-direction: column;
        max-height: 0px;
        width: 100%;

    }  
    .navi-item-burger{
        display: block;
    }
    .navi-item.navi-button
    {
        margin: 10px auto!important;
    }
    .container
    {
        width: 100vw!important;
    }
    .navi-item.navi-icon
    {
        margin-left: 0px;
        width: 100vw!important;
    }
}
.navi-item {
    box-sizing: border-box;
    height: auto;
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    color: #070707;
   // font-weight: bold;
    padding: 5px;
}
.navi-item.navi-icon
{
        width: fit-content;
        height: fit-content;
        padding-left: 20px!important;
        padding-right: 20px!important;
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        padding: 5px;
        margin-bottom: 20px;
        margin-top: 20px;
}

.navi-item.navi-button
{
    display: block;
    cursor:pointer;
    padding-top: 1em;
    font-size: 18px;
    user-select: none;
    height: 57px;
    width: fit-content;
    text-align: center;
    transition: 0.5s;
    border-bottom: 3px solid #00000000;
}

.navi-item.navi-button:hover
{
   color: #575cf5;
   border-bottom: 1px solid rgb(0, 0, 0);
}

.navi-logo {
    color: #060606;
    font-style: oblique;
    font-weight: bold;
}