.footer-container 
{
    margin-top: 100px;
    width: 100vw;
    height: 50px;
    background: #141414;
    padding: 20px 0 10px 0;
    .footer-inner {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: fit-content;
        flex-direction: column;
        color: white;

    }
}